 /***************************
  ***  Title: Image Timeline Slider
  ***  File: jsd-image-slider.css
  ***  Type: Cascading Style Sheet
  ***  Company: JS Designs
  ***  Author: Brian Jason
  ******************************/
  body {
    width: 100vw;
    padding: 1em;
    margin: 0 auto;
  }


  #contentContainer {
    width: 549px;
    /*height: 733px;*/
    height: 413px;

    border: 5px black solid;
    overflow: hidden;
  }


  #wrapper {
      /*width: 13750px; */
      transform: translate3d(0, 0, 0);
      transition: transform .5s ease-in-out;
  }
  .content {
      float: left;
      width: 550px;
      height: 733px;
      /*height: 413px;*/
      white-space: normal;
      background-repeat: no-repeat;
  }


  #navLinks {
      text-align: center;
      width: 550px;
  }
      #navLinks ul {
          margin: 0px;
          padding: 0px;
          display: inline-block;
          margin-top: 6px;
      }
          #navLinks ul li {
              float: left;
              text-align: center;
              margin: 10px;
              list-style: none;
              cursor: pointer;
              background-color: white;
              padding: 5px;
              border-radius: 50%;
              border: black 2px solid;
          }
              #navLinks ul li:hover {
                  background-color: #FFFF00;
              }

              @media (hover: none) {
                  #navLinks ul li:hover { background-color: inherit; }
              }

              #navLinks ul li.active {
                  background-color: #E33833;
                  color: #FFFFFF;
                  outline-width: 7px;
                  border-color: #E33833;
              }
                  #navLinks ul li.active:hover {
                      /*background-color: #484848;*/
                      color: #FFFFFF;
                  }

#comparisonImg {
  display: none;
}
